@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

main {
    height: 100%;
    display: flex;
    flex-direction: row;
}

aside {
    width: 15%;
}

#collections {
    display: block;
    justify-content: center;
    background-color: hsl(218, 14%, 15%);
    padding-left: 10px;
}
#collections span {
    line-height: 30px;
}
#collections img {
    float: right;
    padding: 5px;
}

#optionen {
    display: block;
    padding: 5px;
}
#optionen span {
    display: inline-block;
    background: hsl(218, 14%, 15%);
    padding: 3px;
    border-radius: 3px;
}
#optionen > br {
    margin-top: 5px;
}
#optionen > img {
    float: right;
    padding: 5px;
}
#optionen span:last-child {
    display: block;
    margin-top: 5px;
}
#optionen span:last-child img{
    padding: 5px 5px 0;
}
#optionen span:last-child img:last-child{
    float: right;
}

#game-list {
    width: 100%;
}
#game-list li:hover {
    background-color: hsl(221, 20%, 25%);
}
#game-list li.collection {
    padding-left: 5px;
    background-image: linear-gradient(90deg, hsl(221, 15%, 23%) 0%, hsl(221, 15%, 23%) 40%, hsl(220, 13%, 18%) 100%);
}
#game-list li.collection:hover {
    background-image: linear-gradient(90deg, hsl(221, 20%, 45%) 0%, hsl(221, 20%, 45%) 40%, hsl(221, 15%, 23%) 100%);
}
#game-list li:not(.collection) {
    padding-left: 30px;
}
#game-list li.active {
    background-color: hsl(221, 20%, 35%);
}
#game-list li.active:hover {
    background-color: hsl(221, 20%, 45%);
}
