main {
    background: linear-gradient(42deg,
            rgba(255,255,255,0),
            rgba(255,255,255,0),
            rgba(255,255,255,0.02),
            rgba(255,255,255,0.01),
            rgba(255,255,255,0),
            rgba(255,255,255,0.01),
            rgba(255,255,255,0),
            rgba(255,255,255,0.01),
            rgba(255,255,255,0),
            rgba(255,255,255,0.01),
            rgba(255,255,255,0.01),
            rgba(255,255,255,0.01),
            rgba(255,255,255,0),
            rgba(255,255,255,0),
            rgba(255,255,255,0),
            rgba(255,255,255,0.01),
            rgba(255,255,255,0),
            rgba(255,255,255,0.01),
            rgba(255,255,255,0),
            rgba(255,255,255,0.01),
            rgba(255,255,255,0),
            rgba(255,255,255,0.02),
            rgba(255,255,255,0.01),
            rgba(255,255,255,0)
        ),
        radial-gradient(#1d5267, #18445d, #1a2737);

    height: 100%;
    width: 100%;
}

#friends-main {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    column-gap: 0.3em;

    width: 90vw;
    height: 80vh;
    max-height: 90%;
    margin: 2.5% 5% 0;
}

#friends-main > div {
    background-color: rgba(33,37,44,0.4);
}

#friends-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr 2fr;
    padding: 0.3em;
    font-size: 0.8rem;
    color: white;
}

#friends-sidebar > div:nth-child(n+2) {
    border-top: solid white 1px;
}

#friends-sidebar > div > p > a {
    text-decoration: none;
}

#friends-content {
    overflow: auto;
}

.friends-header {
    font-size: 1.2rem;
    margin-left: 0.2em;
    margin-top: 0.2em;
}

#friends-sidebar > div:nth-child(n+2) {
    padding-top: 0.5em;
}

#friends-users > p:nth-child(n+2), #friends-groups > p:nth-child(n+2) {
    padding: 0.25em 0 0.25em 1em;
}

#friends-users > p.active {
    background-color: rgba(255,255,255,0.1);
}

#friends-profile > p {
    font-size: 2rem;
    text-align: center;
}

#friends-profile > img {
    display: block;
    margin: 1em auto auto;
}