@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: hsl(228, 28%, 25%);
    border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    margin: 0;
    padding: 0;

    color: white;
    font-family: 'Overpass', sans-serif;
    text-decoration: none;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

html, body {
    height: 100vh;
}

body {
    display: grid;
    background-color: hsl(220, 13%, 18%);
    grid-template-columns: 100%;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: "header" "main" "footer";
}

header, footer {
    display: flex;
    background-color: hsl(216, 14%, 15%);
}

header {
    grid-area: header;
    flex-direction: column;
    padding: 0.3rem 0.2rem 0;
}

#top-bar {
    font-size: 0.9rem;
    line-height: 1.3rem;
}

#top-bar > span > a {
    float: left;
    margin: 0 0.3rem;
}

#top-bar > span:first-child > a:hover {
    color: white;
}

#top-bar > span:last-child {
    float: right;
}

#top-bar > span:last-child > a > img {
    display: block;
}

#top-bar > span:last-child > a.icon > img {
    padding: 0.15rem;
}

#top-bar > span:last-child > .notification {
    padding: 0 0.4rem;
}

#user, #top-bar > span:last-child > .notification {
    background-color: hsl(215, 14%, 23%);
    border-radius: 0.2rem;
}

#user:hover, #top-bar > span:last-child > .notification:hover {
    background-color: hsl(215, 14%, 50%);
}

#user > span, #user > img {
    float: left;
}

#user > span {
    padding: 0 0.3rem;
}

nav {
    font-size: 1.5rem;
    margin: 0.2rem 0 0;
}

nav > a {
    display: inline-block;
    padding: 0.2rem 0.35rem;
}

nav > a.active, nav > a:hover {
    text-shadow: 0 0 0.3em white;
}

main {
    grid-area: main;
    display: flex;
}

footer {
    grid-area: footer;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    font-size: 0.8rem;
    padding: 0.75rem;
}

footer > a {
    display: flex;
    margin: auto 0;
    text-align: center;
}

footer > a:hover > span.hover {
    text-shadow: 0 0 0.5em white;
}

#addGame span {
    line-height: 2rem;
}

#addGame img {
    display: block;
    margin: auto 0.5rem auto 0;
}

#downloads {
    flex-direction: column;
}

#chat img {
    display: block;
    margin: auto 0 auto 0.8rem;
}

.dimgray {
    color: dimgray;
}

.uppercase {
    text-transform: uppercase;
}